body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#quiz {
    max-width: 500px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #007bff;
}

#choices button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#choices button:hover {
    background-color: #0056b3;
}

#prevButton, #nextButton {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #6c757d; /* Unique color for prevButton */
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#prevButton:hover, #nextButton:hover {
    background-color: #5a6268; /* Darker color on hover */
}

#prevButton[disabled], #nextButton[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
}
